.card {
  border-radius: 10px;
}

.btn-info {
  background-color: #007bff;
  border: none;
}

.btn-info:hover {
  background-color: #0069d9;
}

.modal-content {
  border-radius: 10px;
}
img {
  object-fit: contain;
}