main {
    /* border: solid red; */
    width: 100vw;
    height: 100vh;
}

.formulario{
    /* border: solid blue; */
    box-shadow: 0 0 50px #122f51;
    width: 35%;
    height: 70%;
    margin: 12% auto;
    display: flex;
    flex-direction: column;
    gap: 6%;
    background-color: var(--colorForm);
    border-radius: 5%;
}

.btn{
    background: #08253d;
    Color : white;
    font-weight: 600;
    width: 50%;
    height: 20%;
    margin: 15% auto;
}

.fin{
    font-weight: 900;
    font-size: 25px;
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
    padding-top: 5%;
}
.nombre{
    height: 10%;
    width: 90%;
    border : solid var(--color-principal);
    margin: 5px auto 5px auto;
    padding: 20px;
    font-size: 20px;
}