
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BidUp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto d-flex gap-3 alig-items-center">
     
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/register">¡Registrate!</a></li>
    <li><a routerLink="/login">Inicia Sesion</a></li>
    <li><a routerLink="/products">Productos</a></li>  
    <li><a routerLink="/reviews">Opiniones</a></li>     
    <li><a routerLink="/admin">dashboard</a></li>
   </ul>
    </div>
  </div>
</nav>

