main {
    border: solid red;
    width: 100vw;
    height: auto;
}

.formulario{
    border : solid blue;
    width: 50%;
   
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn{
    background: #08253d;
    color: white;
    font-weight: 300;
}
