main {
  /* border: solid red; */
  width: 100vw;
  height: auto;
}

.formulario {
  /* border: solid blue; */
  box-shadow: 0 0 50px #122f51;
  width: 50%;
  height: 40%;
  margin: 12% auto;   
  display: flex;
  flex-direction: column;
  gap: 5%;
  background-color: var(--colorForm);
  border-radius: 3%;
}

.btn {
  background: #08253d;
  color: white;
  font-weight: 300;
  width: 50%;
  height: 5%;
  margin: 15% auto;
}

.fin {
  font-weight: 900;
  font-size: 25px;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 1000;
  padding-top: 5%;
  margin-bottom: 8%;
}
.nombre {
  /* border: solid red; */
  height: 20%;
  width: 75%;
  border: solid var(--color-principal);
  margin: 5px auto 5px auto;
  padding: 10px;
  font-size: 20px;
}