main {
  width: 100vw;
  height: auto;
}

.formulario {
  box-shadow: 0 0 50px #122f51;
  width: 50%;
  height: auto;
  margin: 12% auto;
  display: flex;
  flex-direction: column;
  gap: 5%;
  background-color: var(--colorForm);
  border-radius: 3%;
  padding-bottom: 40px; /* mejora espacio */
}

.btn {
  background: #08253d;
  color: white;
  font-weight: 300;
  width: 50%;
  height: auto;
  padding: 12px;
  margin: 15% auto 5% auto;
}



h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 1000;
  padding-top: 5%;
  margin-bottom: 8%;
}

.nombre {
  height: auto;
  width: 75%;
  border: solid var(--color-principal);
  margin: 5px auto;
  padding: 10px;
  font-size: 20px;
}

.preview-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.preview-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0e3b68;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* -------------------------------------- */
/* 📱 Celulares (pantallas pequeñas) */
/* -------------------------------------- */
@media (max-width: 480px) {

  .formulario {
    width: 90%;
    margin: 20% auto;
    padding: 20px 0;
    border-radius: 5%;
  }

  h1 {
    font-size: 26px;
  }

  .nombre {
    width: 85%;
    font-size: 16px;
    padding: 8px;
  }

  .btn {
    width: 70%;
    font-size: 18px;
    margin-top: 10%;
  }

  

  .preview-img {
    width: 100px;
    height: 100px;
  }
}

/* -------------------------------------- */
/* 🟦 Tablets (pantallas medianas) */
/* -------------------------------------- */
@media (max-width: 768px) {

  .formulario {
    width: 70%;
    margin: 18% auto;
  }

  .nombre {
    width: 80%;
  }

  .btn {
    width: 60%;
  }
}
